- unless @product_properties.empty?
  %h6.product-section-title= t('spree.properties')
  %ul.list-group.product-desc#product-properties{"data-hook" => ""}
    - @product_properties.each do |product_property|
      - css_class = cycle('even', 'odd', name: "properties")
      %li.product-desc.d-flex.justify-content-between.align-items-center{:class => css_class}
        %p.product-desc= product_property.property.presentation
        %span.product_span.badge.badge-secondary.badge-pill= product_property.value
    - reset_cycle('properties')
